:root {
    --accent1-color: #0a0099;
    --primary-color: #6c0900;
    --border-color: #000000;
    --heading-font: "Georgia", "Times New Roman", serif;
    --body-font: Arial, sans-serif;
    --text-color: #fff;
    --grid-color: #faf1e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    min-width: 300px;
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

h1 {
    display: block;
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

h2 {
    text-align: center;
}

p a {
    text-decoration: none;
    color: var(--accent1-color);
    font-size: 30px;
}

div h1 {
    display: block;
    position: absolute;
    width: 100%;
    top: 20px;
    padding: 1rem;
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--text-color);
}

nav,
p,
section,
article {
    margin: 1rem;
    padding: 0.1rem;
}

form section {
    margin: 0.5rem;
    align-content: center;
}

footer {
    text-align: center;
}

footer nav img {
    width: 50px;
    height: auto;
}

figcaption {
    text-align: center;
}

figure img {
    overflow: hidden;
    width: 90px;
    object-fit: cover;
}

iframe {
    width: 400px;
    height: 400px;
    margin: 1rem;
    border: 1px solid var(--border-color);
}

form {
    margin: 1rem;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid rbg(--border-color);
    letter-spacing: 1px;
    margin: 0 auto;
    background-color: var(--grid-color);
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 8px 12px;
    text-align: center;
}

thead th,
tfoot tr {
    font-weight: 700;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 10px;
    padding: 0.5rem;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: var(--text-color);
}

.hero article img {
    float: right;
    padding: 5px;
    width: 75px;
}

.address {
    text-align: center;
    padding: 2px;
    margin: 0;
}

.form-item {
    padding: 0;
    margin: 0;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
}

.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    gap: 20px;
}

.grid4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;

    gap: 20px;
}

.grid5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px 120px 140px 40px 40px;
}

.grid7 {
    display: grid;
    grid-template-columns: 90px 2fr;
    grid-template-rows: 40px 40px 40px;
}

.grid8 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 110px;
}

.grid9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 130px 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    justify-items: center;
    align-items: center;
    background-color: var(--grid-color);
    border-radius: 40px;
    border: 3px solid var(--border-color);
}

.grid10 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: var(--grid-color);
    border-radius: 20px;
    border: 2px solid var(--border-color);
}

.parent1 {
    display: flex;
    justify-content: space-between;
    min-width: 25rem;
}

.parent2 {
    display: flex;
    justify-content: flex-end;

}

.parent3 {
    display: flex;
    justify-content: center;
    margin: 0;
}

.child1 {
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
}

.child2 {
    grid-column-start: 1;
    grid-column-end: 2
}

.child3 {
    grid-column-start: 2;
    grid-column-end: 3;
    align-content: center;
    width: auto;
    height: 150px;
}

.child4 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.child5 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    align-content: center;
}

.child6 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    align-content: center;
}

.child7 img {
    width: 200px;
}

.child9 {
    grid-row-start: 1;
    grid-row-end: 4;
    align-content: center;
}

.child10 {
    grid-row: 1 / 2;
}

.child11 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.child12 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.child13 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.child14 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.child15 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.child16 {
    text-align: center;
}

.child17 {
    margin: 5px;
}

.child18 {
    margin: 15px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
}

.child19 {
    margin: 15px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
}

.child20 {
    margin: 15px;
    border-radius: 30px;
    border: 1px solid var(--border-color);
}

.child21 {
    margin-top: 50px;
    margin-bottom: 50px;
}